modules = ["nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["eas-cli"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 pnpm expo start --web --port 5000"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[userenv]

[userenv.shared]
EXPO_PUBLIC_INFURA_KEY = "1fbef7faf25d4370b344182d8cf522e5"
EXPO_PUBLIC_SUPABASE_URL = "https://equtwzwznzzkefhhnpab.supabase.co"
EXPO_PUBLIC_SUPABASE_ANON_KEY = "96b5bb74df6e852e061c65bf305d4b4bcf494c0e771340c09791add4bd711201"
EXPO_PUBLIC_PINATA_API_KEY = "5798c157840bdc7555765c7fe782b204d902c14ba6b9da6a30953dc40a6f1386"
EXPO_PUBLIC_PINATA_SECRET = "661e4c041a4ca40156a8d6575912587a2ad396c32d9b6a5c880b71f2a4cae304"
EXPO_PUBLIC_ETHERSCAN_API_KEY = "FCDXS6HJ1SJ293KPIDFAN61NZP75ZM1M1C"
EXPO_PUBLIC_BSCSCAN_API_KEY = "FCDXS6HJ1SJ293KPIDFAN61NZP75ZM1M1C"
EXPO_PUBLIC_POLYGONSCAN_API_KEY = "FCDXS6HJ1SJ293KPIDFAN61NZP75ZM1M1C"
EXPO_PUBLIC_ALCHEMY_KEY = "XfBJKlROAO8fx09bc08L5"
